.p-card {
  display: flex;
  width: 100%;

  &-body {
    width: 100%;
  }

  &-footer {
    padding: 0;
  }
  &.selected {
     background-color: #e1dfdd;
  }
}

.p-tag {
  padding: 0.25rem;

  .p-tag-icon {
    margin-right: 0;
  }
}
