:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.p-component {
  font-weight: 500;
}

.p-button {
  border-color: #323130;
}

.p-datatable-thead > tr > th {
  font-weight: 700;
  border-color: #323130;
  background: #ccccc9;
}

.p-card-body {
  width: 100%;
  padding-right: 1.5rem;
}

.p-datatable-tbody > tr > td {
  border-color: #323130;
}



.p-datatable-tbody > tr.p-row-odd {
  background: #edebe9;
}



